In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [32]:
engine = create_engine('postgresql://postgres:sql-test@localhost:5432/c5')

In [33]:
engine.connect()

In [25]:
#taxi_datatype = {'tpep_pickup_datetime':'TIMESTAMP', 'tpep_dropoff_datetime':'TIMESTAMP'}
date_col = ["tpep_pickup_datetime", "tpep_dropoff_datetime"]

In [49]:
data = pd.read_csv('yellow_tripdata_2016-03.csv',chunksize=100000)

In [51]:
df_taxi = next(data)

In [46]:
%time
data['tpep_pickup_datetime'] = pd.to_datetime(data['tpep_pickup_datetime'])
data['tpep_dropoff_datetime'] = pd.to_datetime(data['tpep_dropoff_datetime'])

CPU times: total: 0 ns
Wall time: 0 ns

In [43]:
#%time data = pd.read_csv('yellow_tripdata_2016-03.csv', nrows=500000, parse_dates=date_col)

In [48]:
data.to_sql(name='nyc_yellow_taxi',con=engine,if_exists='replace')

1000

In [55]:
#data

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   pickup_longitude       100000 non-null  float64
 6   pickup_latitude        100000 non-null  float64
 7   RatecodeID             100000 non-null  int64
 8   store_and_fwd_flag     100000 non-null  object
 9   dropoff_longitude      100000 non-null  float64
 10  dropoff_latitude       100000 non-null  float64
 11  payment_type           100000 non-null  int64
 12  fare_amount            100000 non-null  float64
 13  extra                  100000 non-null  float64
 14  mta_tax                100000 non-null  float64
 15  tip_amount             100000 non-null  float64
 16  tolls_amount           100000 non-null  float64
 17  improvement_surcharge  100000 non-null  float64
 18  total_amount           100000 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 14.5+ MB

In [19]:
#print(pd.io.sql.get_schema(data, name='nyc_yellow_taxi', con=engine))

In [58]:
data = pd.read_csv('yellow_tripdata_2016-03.csv',chunksize=100000)

In [65]:
date_col = ["tpep_pickup_datetime", "tpep_dropoff_datetime"]
data_head = pd.read_csv('yellow_tripdata_2016-03.csv',nrows=0,parse_dates=date_col)

In [66]:
data_head

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, pickup_longitude, pickup_latitude, RatecodeID, store_and_fwd_flag, dropoff_longitude, dropoff_latitude, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount]
Index: []

In [78]:
data_head.to_sql(name='nyc_yellow_taxi',con=engine,if_exists='replace')

0

In [79]:
from time import time

In [80]:
count = 0
while count <= 20:
    t_start = time()
    df_taxi = next(data)
    df_taxi['tpep_pickup_datetime'] = pd.to_datetime(df_taxi['tpep_pickup_datetime'])
    df_taxi['tpep_dropoff_datetime'] = pd.to_datetime(df_taxi['tpep_dropoff_datetime'])
    df_taxi.to_sql(name='nyc_yellow_taxi',con=engine,if_exists='append',index=False)
    count +=1
    t_end = time()
    
    print(f'{count}) loaded a total of {100000*count} records at {t_end - t_start:.3f} seconds')

1) loaded a total of 100000 records at 20.928 seconds
2) loaded a total of 200000 records at 19.795 seconds
3) loaded a total of 300000 records at 18.356 seconds
4) loaded a total of 400000 records at 21.237 seconds
5) loaded a total of 500000 records at 20.719 seconds
6) loaded a total of 600000 records at 18.496 seconds
7) loaded a total of 700000 records at 18.626 seconds
8) loaded a total of 800000 records at 20.662 seconds
9) loaded a total of 900000 records at 19.759 seconds
10) loaded a total of 1000000 records at 21.208 seconds
11) loaded a total of 1100000 records at 20.928 seconds
12) loaded a total of 1200000 records at 28.379 seconds
13) loaded a total of 1300000 records at 28.536 seconds
14) loaded a total of 1400000 records at 25.554 seconds
15) loaded a total of 1500000 records at 27.655 seconds
16) loaded a total of 1600000 records at 25.344 seconds
17) loaded a total of 1700000 records at 31.257 seconds
18) loaded a total of 1800000 records at 17.868 seconds
19) loaded a total of 1900000 records at 30.545 seconds
20) loaded a total of 2000000 records at 24.635 seconds
21) loaded a total of 2100000 records at 15.803 seconds